<section class="about-s4 container-fluid d-flex minh-50vh align-items-center py-5 border-top border-dark">
    <div class="row mx-0 w-100 px-3 text-shadow">
        <div class="col-12 py-3">
            <h2 class="display-6 text-center text-md-start text-white text-uppercase">
                Lorem ipsum dolor
            </h2>
        </div>
        <div class="col-12 col-md-3 mx-auto text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="d-none d-md-block mx-auto col-md-1">
            <div class=" border-start mx-auto h-100 w-25"></div>
        </div>
        <div class="col-12 col-md-3 text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
        <div class="d-none d-md-block mx-auto col-md-1">
            <div class=" border-start mx-auto h-100 w-25"></div>
        </div>
        <div class="col-12 col-md-3 mx-auto text-center text-md-start">
            <p class="initialism text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.
            </p>
        </div>
    </div>
</section>